<div class="hoge">


<div  class="form">
  <%= form_for @task , :url =>{:controller => :main ,:action => :create} do |f| %>
  <p><%= f.text_area :content , :rows =>"5" %></p>
  <p><%= f.date_field :deadline_year  %></p>
  <%= f.submit ("送信")  %>
  <% end %>
</div>

</div>
