// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//------------show----------------
.post_task {
  padding-top: 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}
//------------index---------------

.detail_button{
  float: right;
  padding-right: 20px;
}

.edit_button{
  float: right;
  padding-right: 20px;
}

.delete_button{
  float: right;
}

.list_content{
  padding-bottom:10px;
  padding-right: 20px;
}

.list_deadline_year{
  padding-right: 30px;
}

.list_priority{
  padding-right: 30px;
}

.list_division{
  padding-right: 30px;
}
//------------_from-------------------
.form{
  float:left;
}

//------------edit--------------------
.edit_form{
  position:relative;
  height: 40px;
}

.back_button{
  position:absolute;
  bottom: 0;
}
